{{template "merchant" .}}

{{define "content"}}
<div class="title">
  <h4>Select an area to expand your Portfolio!</h4>
</div>
{{$user := index .Data "user_details"}}
<div class="col-md-12">
  <div class="form-group mt-5">
    <div class="row">
      <div class="col-sm-6">
        <a href="#1" class="btn btn-block btn-lg btn-outline-primary"
          >Flight Ticket Bookings</a
        >
      </div>
      <div class="col-sm-6">
        <a href="#1" class="btn btn-block btn-lg btn-outline-secondary"
          >Taxi Bookings</a
        >
      </div>
    </div>

    <div class="row mt-3">
      <div class="col-sm-6">
        <a
          href="/merchant/{{ $user.ID }}/add-bus"
          class="btn btn-block btn-lg btn-outline-success"
          >Bus Ticket Bookings</a
        >
      </div>
      <div class="col-sm-6">
        <a href="#1" class="btn btn-block btn-lg btn-outline-danger"
          >Hotel Room Reservations</a
        >
      </div>
    </div>

    <div class="row mt-3">
      <div class="col-sm-6">
        <a href="/merchant/{{ $user.ID }}/add-activity" class="btn btn-block btn-lg btn-outline-warning"
          >Recreational Activity Reservations</a
        >
      </div>
      <div class="col-sm-6">
        <a href="#1" class="btn btn-block btn-lg btn-outline-dark"
          >Tourism Shopping</a
        >
      </div>
    </div>
  </div>
</div>

<div class="title mt-5">
  <h4>Your Current Portfolio:</h4>
</div>
<div class="title mt-3">
  <h5>Bus:</h5>
</div>
{{$bus := index .Data "bus"}}
{{$activity:= index .Data "activity"}}

{{range $bus}}
<div class="container">
  <div class="title mt-4">
    <div class="float-sm-left text-secondary"><a href="/merchant/{{ $user.ID }}/add-bus/{{.BusID}}">{{.BusName}}</a></div>
    <div class="float-sm-right text-secondary">{{.BusStart}} to {{.BusEnd}}</div>
  </div>
  <br />
  <hr />
</div>
{{end}}
<div class="title mt-3">
  <h5>Recreational Activities :</h5>
</div>
{{range $activity}}
<div class="container">
  <div class="title mt-4">
    <div class="float-sm-left text-secondary"><a href="/merchant/{{ $user.ID }}/add-activity/{{.ActivityID}}">{{.ActivityName}}</a></div>
    <div class="float-sm-right text-secondary">Location: {{.Location}}  Price: {{.ActivityPrice}}</div>
  </div>
  <br />
  <hr />
</div>
{{end}}

{{ end }}
