{{template "merchant" .}}

{{define "css"}}
<link
  href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.css"
  rel="stylesheet"
  type="text/css"
/>
<link
  href="https://cdn.datatables.net/1.13.4/css/dataTables.bootstrap4.min.css"
  rel="stylesheet"
  type="text/css"
/>
{{ end }}

{{define "content"}}

{{$user := index .Data "user_details"}}
{{$p := index .StringMap "is_processed"}}

<div class="container">
  <div class="row">
    <h4>Bus Reservations:</h4>
  </div>
  <div class="row">
    <div class="col-md-12 mt-3">
      {{$res := index .Data "reservations"}}
      <table
        id="example"
        class="table table-hover cell-border"
        cellspacing="0"
        width="100%"
      >
        <thead>
          <tr>
            <th class="th-sm">LastName</th>
            <th class="th-sm">Reservation Date</th>
            <th class="th-sm">From</th>
            <th class="th-sm">To</th>
            <th class="th-sm">Bus Name</th>
            <th class="th-sm">Phone Number</th>
            <th class="th-sm">Passengers</th>
            <th class="th-sm">Process</th>
          </tr>
        </thead>
        <tbody>
          {{range $res}}
          <tr>
            <td><a href="/merchant/{{$user.ID}}/merchant-show-reservations/{{.ReservationID}}">{{.LastName}}</a></td>
            <td>{{ humanDate .ReservationDate}}</td>
            <td>{{.From}}</td>
            <td>{{.Stop}}</td>
            <td>{{.Bus.BusName}}</td>
            <td>{{.PhoneNumber}}</td>
            <td>{{.NumPassengers}}</td>
            <td><a href="/merchant/{{$user.ID}}/merchant-show-reservations/{{.ReservationID}}/process" class="btn btn-success {{if eq $p "yes"}} disabled {{end}}" {{if eq $p "yes"}} aria-disabled="true" {{end}}>Process</a></td>
          </tr>
          {{end}}
        </tfoot>
      </table>
    </div>
  </div>
</div>
{{ end }}

{{define "js"}}
<script
  src="https://code.jquery.com/jquery-3.5.1.js"
  type="text/javascript"
></script>
<script src="/static/js/datatable.js" type="text/javascript"></script>
<script
  src="https://cdn.datatables.net/1.13.4/js/dataTables.bootstrap4.min.js"
  type="text/javascript"
></script>
<script>
  $(document).ready(function () {
    $("#example").DataTable();
  });
</script>
{{ end }}
