{{template "merchant" .}}

{{define "content"}}
<div class="title">
  <h4>Please Enter your Address to Proceed:</h4>
</div>

{{$user := index .Data "user_details"}}

<div class="col-md-12">
  <form
    action="/merchant/{{ $user.ID }}/verification-address"
    method="post"
    class="needs-validation"
    novalidate
  >
    <input type="hidden" name="csrf_token" value="{{.CSRFToken}}" />

    <div class="form-group mt-5">
      <div>
        <strong><label for="city">City: </label></strong>
        <input
          type="text"
          name="city"
          id="city"
          autocomplete="off"
          class="form-control form-control-lg col-md-3"
        />
      </div>

      <div>
        <strong><label for="state">State: </label></strong>
        <input
          type="text"
          name="state"
          id="state"
          autocomplete="off"
          class="form-control form-control-lg col-md-3"
        />
      </div>

      <div>
        <strong><label for="country">Country: </label></strong>
        <input
          type="text"
          name="country"
          id="country"
          autocomplete="off"
          class="form-control form-control-lg col-md-3"
        />
      </div>

      <hr />
      <input
        type="submit"
        class="btn btn-success btn-lg col-md-6"
        value="Verify!"
      />
    </div>
  </form>
</div>
{{ end }}
